.cta{
    width: 40%;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
    background-color: #565254;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
  }