// colors.scss

$color-snow: #FFFBFE;        // Snow
$color-gray: #7A7D7D;        // Gray
$color-timberwolf: #D0CFCF;  // Timberwolf
$color-davys-gray: #565254;  // Davy's Gray
$color-white: #FFFFFF;       // White
