@import "./../../sass/mixins/mobile_responsive.scss";

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;

  .homeLink {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
  }
  ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    @include respond(tab-portrait) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
    li {
      list-style-type: none;
      .link {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 300;
        text-transform: capitalize;
      }
    }
  }
}
