@import "./../mixins/mobile_responsive.scss";
@mixin heroTextContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin heroText {
  width: 50%;
  font-size: 4rem;
  @include respond(phone){
    font-size: 2.5rem;
    width: 100%;
  }
}
